 <script>

    
    $(function() {
      
        $( ".chess-piece" ).draggable({ 
          drag: function( event, ui ) {
                   
          }
        });

      
      $( ".square" ).droppable({
        tolerance: "fit",
        drop: function( event, ui ) {

          var col = $(this).parent().children().index($(this));
          var row = $(this).parent().parent().children().index($(this).parent());
          var currentPlayerTurn = ui.draggable.data('current-player-turn')
          var currentMovingPiece = ui.draggable.data('current-moving-piece')
          var blackPlayerID = ui.draggable.data('black-player-id')
          var whitePlayerID = ui.draggable.data('white-player-id')
          
          if (currentMovingPiece !=  blackPlayerID ) {
            var nextPlayerTurn = blackPlayerID
          }
          else {
            nextPlayerTurn = whitePlayerID
          }
               
            
          console.log(ui.draggable.data('player-color'))
          console.log(currentMovingPiece)
          console.log(nextPlayerTurn)
          var update = $.ajax({
                        type: 'PATCH',
                        url: ui.draggable.data('update-url'),
                        dataType: 'json',
                        data: { chesspiece: { position_x: col, position_y: row} }
                      });

          var changeTurn = $.ajax({
                        type: 'PATCH',
                        url: ui.draggable.data('player-turn-url'),
                        dataType: 'json',
                        data: { player_turn: nextPlayerTurn }
                      });
          $(".chess-piece").on("drop", update);
          $(".chess-piece").on("drop", changeTurn);
        }
      });
    });
  </script>



<h1>Checkmate - Show Games</h1>

<span>White Player ID:  <%= @game.white_player_id %> </span>
<span>Player turn: <%= @game.player_turn %> </span>
<table class="board">

  <% (0..7).each do |row| %>
    <tr class="row">
      <% (0..7).each do |square| %>
        <% row_even = row % 2 == 0 %>
        <% square_even = square % 2 == 0 %>
          <% if row_even == square_even %>
            <td class="square white" >
          <% else %>
            <td class="square black">
          <% end %>
          <% if @game.piece_at(square, row) %>
            <div class="chess-piece" data-update-url="<%=chess_piece_path(@game.piece_at(square, row).id)%>" data-current-player-turn="<%=@game.player_turn %>" data-black-player-id="<%=@game.black_player_id%>" data-white-player-id= "<%=@game.white_player_id %>" data-current-moving-piece="<%=@game.piece_at(square, row).player_id%>" data-player-turn-url="<%= game_path(@game)%>">
              <%= @game.piece_at(square, row).display.html_safe %>
            </div>
        <% end %>
         </div>
      <% end %>
   </tr>
  <% end %>
</table>